:root {
    --primary: #2e4053;
    --secondary: #454545;
    --bg-primary: #fff;
    --link: #ccc;
}
html {
    font-size: 20px;
    font-weight: 300;
}

body {
    font-family: "muli", sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1;
    background: var(--secondary);
    background: rgb(79,107,252);
background: radial-gradient(circle, rgba(79,107,252,1) 5%, rgba(34,53,159,1) 100%);
}

#hori {
    width: 50%;
    border: 1px solid var(--primary);
    margin: 0.7rem auto;
}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#loader img {
    max-width: 100px;
    display: flex;
    margin: auto;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    position: relative;
}

.inner-container {
    background: #DEDEDF;
    width: 25%;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0 auto;
}

.top-img {
    text-align: center;
}

.whole-form {
    width: 100%;
    /* background: var(--primary); */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.whole-form h4 {
    text-align: center;
}

label, input {
    display: block;
    background: none;
    border: none;
    margin: 0.3rem 0;
    line-height: 1.5;
}

label {
    font-size: 15px;
    font-weight: 600;
    padding: 7px 5px;
}

input[type="text"] {
    border-bottom: 1px solid rgb(79,107,252);
    width: 100%;
    padding: 0 0.2rem 0.5rem;
    outline: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

input[type="text"]:focus {
    border-bottom: 1px solid var(--primary);
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

input[type="submit"] {
    margin: 1rem auto;
    background: rgb(79,107,252);
    background: radial-gradient(circle, rgb(98, 102, 107) 5%, rgb(233, 233, 233)) 100%);
    padding: 1rem 1rem;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 0.7rem;
    cursor: pointer;
    color: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    outline: none;
}

input[type="submit"]:hover {
    background: rgb(79,107,252);
    background: radial-gradient(circle, rgb(75, 133, 207) 5%, rgba(34,53,159,1) 100%);
}

#passwords {
    margin: 1rem 0;
}

p {
    text-align: center;
    font-size: 15px;
}

span {
    font-size: 12px;
    line-height: 1.5 !important;
}


/* Footer  */
footer {
    
    
}
footer p {
    background: #DEDEDF;
    padding: 1rem 1.5rem;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    margin: 0.6rem auto;
    /* opacity: .5; */
}

.footer-links {
    margin: 1rem auto 0.8rem;
    text-align: center;
    color: #fff;
}

.footer-links a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin: 0 0.7rem;
}

.footer-img {
    display: flex;
    justify-content: center;
}

.footer-img img {
    max-width: 180px;
    -webkit-box-shadow: -1px 0px 5px 0px rgba(79,107,252,1);
-moz-box-shadow: -1px 0px 5px 0px rgba(79,107,252,1);
box-shadow: -1px 0px 5px 0px rgba(79,107,252,1);
}


/* PROFILE PAGE  */
.profile-page {
    text-align: center;
}
    .ads-space span {
        background: #ccc;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2rem 3rem;
    }

    .text-follow-ads h4 {
        font-size: 1rem;
        font-weight: 900;
        margin: 0.8rem 0 0.4rem !important;
        padding: 0;
    }

    .text-follow-ads p {
        line-height: 1.5;
        color: #4F6BFC;
    }

    .profile-btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-btns i {
        font-size: 21px;
        margin-right: 15px;
    }

    .profile-btns a {
        margin: 0.3rem 0;
        text-decoration: none;
        width: 100%;
        text-align: center;
    }

    .profile-btns a:hover {
    background: rgb(79,107,252);
    background: radial-gradient(circle, rgb(98, 102, 107) 5%, rgb(233, 233, 233)) 100%);
    }

    .btn-msg {
    background: rgb(79,107,252);
    background: radial-gradient(circle, rgb(75, 133, 207) 5%, rgba(34,53,159,1) 100%);
    padding: 0.8rem 1rem;
    font-weight: 700;
    font-size: 0.7rem;
    cursor: pointer;
    color: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.btn-settings {
    background: rgb(79,107,252);
    background: radial-gradient(circle, rgb(75, 133, 207) 5%, rgba(34,53,159,1) 100%);
    padding: 0.8rem 1rem;
    font-weight: 700;
    font-size: 0.7rem;
    cursor: pointer;
    color: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

    .btn-share {
    background: #e4405f;
    padding: 0.8rem 1rem;
    font-weight: 700;
    font-size: 0.7rem;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}
.btn-retweet {
    background: #668fe9;
    padding: 0.8rem 1rem;
    font-weight: 700;
    font-size: 0.7rem;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}
    .btn-what {
        background: #25d36d;
    padding: 0.8rem 1rem;
    font-weight: 700;
    font-size: 0.7rem;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    }
    .btn-face {
        background: #3b5998;
    padding: 0.8rem 1rem;
    font-weight: 700;
    font-size: 0.7rem;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    }
    .btn-inst {
    background: #e4405f;
    padding: 0.8rem 1rem;
    font-weight: 700;
    font-size: 0.7rem;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    }



    /* DISCLAIMER  */
    .disclaimer p {
        text-align: left !important;
        line-height: 1.5;;
        font-weight: 500;
    }

    .disclaimer a {
    text-decoration: none;
    background: rgb(79,107,252);
    background: radial-gradient(circle, rgb(98, 102, 107) 5%, rgb(233, 233, 233)) 100%);
    padding: 0.8rem 1rem;
    font-weight: 700;
    font-size: 0.7rem;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    }

    /* SETTINGS  */
    .settings-links a {
    background: rgb(79,107,252);
    background: radial-gradient(circle, rgb(75, 133, 207) 5%, rgba(34,53,159,1) 100%);
        text-decoration: none;
        padding: 0.8rem 1rem;
font-weight: 700;
font-size: 0.7rem;
cursor: pointer;
color: #fff;
text-align: center;
box-sizing: border-box;
        width: 100%;
        display: block;
        margin: 0.6rem 0;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
}

.settings-links a i {
    margin-left: 10px;
}


/* LOGIN  */
#login-p1 {
    line-height: 1.5;
}

#fgp {
    text-decoration: none;
    text-align: center !important;
    font-size: 14px;
    /* width: 100%; */
    display: block;
}



/* Hidden */
.settings-page, .login-page, .email-page, .disclaimer, .register-page, .profile-page {
    display: none;
}





/* responsiveness */

@media screen and (min-width: 701px) and (max-width: 1000px) {
    .inner-container {
        width: 50%;
    }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
    .inner-container {
        width: 70%;
    }
    .footer-img img {
        max-width: 140px;
    }
}

@media screen and (max-width: 500px) {
    .inner-container {
        width: 100%;
        padding: 1.5rem 2rem;
        box-sizing: border-box;
    }
    .footer-links a {
        margin: 0 0.3rem;
    }
    .footer-img img {
        max-width: 140px;
    }
}




















